.header {
  padding: 1rem;
}

.nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
}

.nav-item {
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #20c20e;
}

.active-nav-item {
  text-decoration: underline;
}
